$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* Bootstrpa  custom */
$gray-darker:            #3E3F3A;
$gray-dark:              #555555;
$gray:                   #C3C3C3;
$gray-light:             #D6D6D6;
$gray-lighter:           #F7F7F7;

$brand-primary:         #325D88;
$brand-primary:         #2C3E50;
$brand-success:         #15A595;
$brand-info:            #3498DB;
$brand-warning:         #F39C12;
$brand-danger:          #E74C3C;

$font-family-sans-serif:  "Nanum Gothic", "Apple SD Gothic Neo", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Nanum Gothic", "Apple SD Gothic Neo", Georgia, "Times New Roman", Times, serif;

$font-family-monospace:   "Nanum Gothic", "Apple SD Gothic Neo", Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;

$border-radius-base:        2px;
$border-radius-large:       3px;
$border-radius-small:       1px;
$navbar-height:           50px;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "nav.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Animete */
.artishan-nav.sub.ng-enter,
.artishan-nav.sub.ng-move{
  animation: fadeInRight .5s;
}

.artishan-nav.sub.ng-leave{
  animation: fadeOutLeft .5s;
}
#ng-view{
  display: block;
  height: 100%;
}
#ng-view .ng-enter,
#ng-view .ng-move{
  animation: fadeIn .5s;
}

.alert.ng-enter,
.alert.ng-move{
  animation: fadeIn .5s;
}
/*
.alert.ng-leave{
  animation: fadeOut .5s;
}
 */
/* BootstrapUI */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* Bootstrap custom */
.navbar-brand {
  padding: 7px 20px;
}
.container.container-sub{
  margin-left: 350px;
}
.modal{
  background: black;
}
/* Overied custom */
.ng-asid.horizontal {
  top: 40px;
}

/* Content */
.logo{
  height: 33px;
}

.container {
  padding-top: 50px;
}

#mainCarousel {
  height: 500px;
  margin-bottom: 60px;
  background: #333;
}
