<!-- <div class="btn-group">
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
</div> -->
<ul>
  <li data-match-route="/deck/main">
    <a href="#/deck/main">
      <i class="icon ion-android-apps" aria-hidden="true"></i><span>Main</span>
    </a>
  </li>
  <li data-match-route="/deck/lis">
    <a href="#/deck/list">
      <i class="icon ion-ios-albums-outline" aria-hidden="true"></i>List</span>
    </a>
  </li>
</ul>
