<ul>
  <li data-match-route="(\W|^)/main(\W|$)">
    <a href="#/main"><i class="icon ion-android-apps" aria-hidden="true"></i>
      <span>Artishan</span>
    </a>
  </li>
  <li data-match-route="/deck">
    <a href="#/deck"><i class="icon ion-ios-timer-outline" aria-hidden="true"></i>
      <span>Deck manager</span>
    </a>
  </li>
  <li data-match-route="/job">
    <a href="#/job"><i class="icon ion-ios-albums-outline" aria-hidden="true"></i>
      <span>Job manager</span>
    </a>
  </li>
  <li data-match-route="/flie">
    <a href="#/file"><i class="icon ion-ios-filing-outline" aria-hidden="true"></i>
      <span>File manager</span>
    </a>
  </li>
  <li data-match-route="/user">
    <a href="#/deck"><i class="icon ion-ios-people-outline" aria-hidden="true"></i>
      <span>User manager</span>
    </a>
  </li>
  <li data-match-route="/test">
    <a href="#/test"><i class="icon ion-ios-flask-outline" aria-hidden="true"></i>
      <span>Test manager</span>
    </a>
  </li>
  <li data-match-route="/example">
    <a href="#/example"><i class="icon ion-ios-medical-outline" aria-hidden="true"></i>
      <span>Example</span>
    </a>
  </li>
  <li data-match-route="/about">
    <a href="#/about"><i class="icon ion-ios-information-outline" aria-hidden="true"></i>
      <span>About</span>
    </a>
  </li>
</ul>
